In [1]:
import pandas as pd

In [2]:
nps = pd.read_csv('NPStimeseries.csv',low_memory=False)

In [3]:
f'NPS Dataset Contem {nps.shape[0]} linhas e {nps.shape[1]} colunas'

'NPS Dataset Contem 5000 linhas e 7 colunas'

In [4]:
nps.describe()

                ID        Month      Quarter         NPS
count  5000.000000  5000.000000  5000.000000  5000.00000
mean   3499.500000     6.496000     2.503000     6.84120
std    1443.520003     3.424899     1.108078     3.49228
min    1000.000000     1.000000     1.000000     0.00000
25%    2249.750000     4.000000     2.000000     5.00000
50%    3499.500000     7.000000     3.000000     8.00000
75%    4749.250000     9.000000     3.000000    10.00000
max    5999.000000    12.000000     4.000000    10.00000

In [5]:
nps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5000 non-null   int64
 1   Market         5000 non-null   object
 2   Survey date    5000 non-null   object
 3   Customer Name  5000 non-null   object
 4   Month          5000 non-null   int64
 5   Quarter        5000 non-null   int64
 6   NPS            5000 non-null   int64
dtypes: int64(4), object(3)
memory usage: 273.6+ KB

In [6]:
UNIQUE_ID = nps['ID'].nunique()
f'{UNIQUE_ID} clientes unicos no nps dataset'

'5000 clientes unicos no nps dataset'

In [7]:
def condicional(x):
    if x < 7:
        return 'Detratores'
    elif x < 9 and x > 6: 
        return 'Neutros'
    else:
        return 'Promotores'

In [8]:
nps['condicional']=nps['NPS'].apply(condicional)

In [9]:
nps

,ID,Market,Survey date,Customer Name,Month,Quarter,NPS,condicional
0,1000,US,01/09/2021,Krista Richards,9,3,10,Promotores
1,1001,MEX,07/11/2021,Monica King,11,4,9,Promotores
2,1002,UK,25/12/2021,Ricky Armstrong,12,4,0,Detratores
3,1003,UK,01/10/2021,Andrea Foley,10,4,10,Promotores
4,1004,UK,01/03/2021,Jerry Garcia,3,1,8,Neutros
...,...,...,...,...,...,...,...,...
4995,5995,MEX,02/07/2021,Deborah Peterson,7,3,7,Neutros
4996,5996,MEX,17/03/2021,Jordan Smith,3,1,10,Promotores
4997,5997,UK,07/01/2021,Carly Scott,1,1,8,Neutros
4998,5998,UK,14/10/2021,Eugene Burke,10,4,8,Neutros
4999,5999,MEX,17/12/2021,Edwin Zavala,12,4,9,Promotores

In [10]:
nps.to_csv('nps_tratado.csv')